---
import Layout from "../layouts/Layout.astro";
const album = await fetch(
  `${Astro.url.origin}/api/1CHUXwuge9A7L2KiA3vnR6.json`
).then((r) => r.json());
function formatDuration(ms: number) {
  const minutes = Math.floor(ms / 60000);
  const seconds = Math.floor((ms % 60000) / 1000);
  return `${minutes}:${seconds.toString().padStart(2, "0")}`;
}
---

<Layout>
  <div slot="central-panel">
    <html lang="es">
      <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #000;
          color: #fff;
          margin: 0;
          padding: 0;
        }

        .album-container {
          margin: 20px auto;
          padding: 20px;
        }

        .album-header {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }

        .album-cover {
          width: 200px;
          height: 200px;
          border-radius: 8px;
          margin-right: 20px;
        }

        .album-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .album-title {
          font-size: clamp(20px, 2vw, 70px);
          font-weight: bold;
          text-wrap-style: balance;
        }

        .album-artist {
          color: #b3b3b3;
          margin-top: 5px;
        }

        .album-controls {
          margin-top: 15px;
          display: flex;
        }

        .btn-play {
          background-color: #1db954;
          border: none;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          font-size: 20px;
          cursor: pointer;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .btn-icon {
          background: none;
          border: none;
          color: #fff;
          font-size: 20px;
          cursor: pointer;
          margin-right: 10px;
        }

        .track-list {
          width: 100%;
          border-collapse: collapse;
        }

        .track-list th,
        .track-list td {
          text-align: left;
          padding: 10px;
        }

        .track-title {
          display: flex;
          flex-direction: column;
        }

        .track-name {
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        .track-artist {
          font-size: 12px;
          color: #b3b3b3;
        }
        .icon-time {
          display: flex;
          justify-content: center;
        }
        .track-duration {
          display: flex;
          justify-content: center;
        }

        .copyrights-container {
          color: gray;
        }
      </style>
      <body>
        <body class="album-container">
          <div class="album-header">
            <img
              src={album.images[1].url}
              alt="Album Cover"
              class="album-cover"
              width="60"
            />
            <div class="album-info">
              <h2 class="album-title">
                {album.name}
              </h2>
              <p class="album-artist">
                Michael Giacchino • 2004 • 19 songs, 55 min 21 sec
              </p>
              <div class="album-controls">
                <button class="btn-play">▶</button>
                <button class="btn-icon">❤️</button>
              </div>
            </div>
          </div>

          <table class="track-list">
            <thead>
              <tr style="border-bottom: 1px solid #333;">
                <th>#</th>
                <th>Title</th>
                <th class="icon-time">⏱</th>
              </tr>
            </thead>
            <tbody>
              {
                album.tracks.items.map((track) => (
                  <tr>
                    <td>{track.track_number}</td>
                    <td>
                      <div class="track-title">
                        <span class="track-name">{track.name}</span>
                        <span class="track-artist">
                          {track.artists.map((a) => a.name).join(", ")}
                        </span>
                      </div>
                    </td>

                    <td class="track-duration">
                      {formatDuration(track.duration_ms)}
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
          <div class="copyrights-container">
            {album.copyrights.map((copyrights) => <div>{copyrights.text}</div>)}
          </div>
        </body>
      </body>
    </html>
  </div>
  <div class="panel-right-container" slot="right-panel">
    <html lang="en">
      <style>
        .panel-right-container {
          height: 100%;
          padding: 15px;
          background: #121212;
          margin: 8px;
          border-radius: 8px;
        }
        .album-cover-rigth-panel {
          max-width: 100%;
          height: auto;
          display: block;
        }
      </style>
      <body>
        <div>
          <div>{album.name}</div>
        </div>
        <div>
          <img
            src={album.images[0].url}
            width="500"
            class="album-cover-rigth-panel"
            alt=""
            srcset=""
          />
        </div>
        <h2>{album.name}</h2>
        {album.artists.map((artist) => <p>{artist.name}</p>)}
      </body>
    </html>
  </div>
</Layout>
