---
export const prerender = false;

import PlayIcon from "../assets/icons/play.svg?url";
import PauseIcon from "../assets/icons/pause.svg?url";

const { artists, title } = Astro.props;
---

<style>
  .img-favorite-artists {
    border-radius: 50%;

    object-fit: cover;
  }
  .wrapper-for-img-your-favorite-artists {
    height: 100%;
  }
  .container-for-albums-carrusel {
    display: flex;
    gap: 27px;
  }
</style>
<div>
  <button class="btn-artist-page">{title}</button>
  <div class="container-for-albums-carrusel">
    {
      artists.items.map((item) => (
        <div class="container-for-play" style="position: relative;">
          <button
            class="artist-favorite artist-with-search"
            data-artist-id={item.id}
          >
            <div class="wrapper-for-img-your-favorite-artists">
              <img
                class="img-favorite-artists"
                src={item?.images[1].url}
                alt=""
                srcset=""
                width="153"
                height="153"
              />
              <div>{item?.name}</div>
            </div>
          </button>
          <button
            class="btn-hidden playSong-Artists-Carrousel"
            data-track-artist={item.uri}
          >
            <img src={PlayIcon} alt="play icon" srcset="" />
          </button>
        </div>
      ))
    }
  </div>
</div>

<style>
  .container-for-play:hover .btn-hidden {
    opacity: 1;
  }
  .btn-hidden {
    transform: translate(10px, -80px);
  }
</style>
