---
const { tracks } = Astro.props;
import PlayIcon from "src/assets/icons/play.svg?url";

function formatDuration(ms: number) {
  const m = Math.floor(ms / 60000);
  const s = Math.floor((ms % 60000) / 1000)
    .toString()
    .padStart(2, "0");
  return `${m}:${s}`;
}
---

<link
  rel="stylesheet"
  href="/TopTracks.css"
  media="print"
  onload="this.media='all'"
/>
<div style="display: flex; gap:5px;">
  <div class="container-for-play" style="flex:0.8;position:relative;">
    <h2>Top Results</h2>
    <div style="padding: 20px; border-radius: 7px; background: #3a3a3a57;">
      <img
        src={tracks?.items[0]?.album?.images[0]?.url}
        alt=""
        srcset=""
        width="92"
        height="92"
      />
      <h2>{tracks?.items[0]?.name}</h2>
      <span
        >Song * {
          tracks?.items[0]?.artists.map((artist) => (
            <a
              href={`/artist/${artist.id}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              {artist?.name}
            </a>
          ))
        }</span
      >
    </div>
    <button
      class="btn-hidden top-result playSong"
      data-top-result-song={tracks.items[0].uri}
      data-track={JSON.stringify({
        id: tracks?.items[0].id,
        uri: tracks?.items[0].uri,
        name: tracks?.items[0].name,
        album: {
          id: tracks?.items[0].album.id,
          name: tracks?.items[0].album.name,
          images: tracks?.items[0].album.images,
        },
        artists: tracks?.items[0].artists.map((a) => ({
          id: a.id,
          name: a.name,
        })),
      })}
    >
      <img
        src={PlayIcon}
        alt=""
        srcset=""
        data-state="play"
        class={`btn-hidden-pause-${tracks?.items[0]?.id}`}
      /></button
    >
  </div>
  <div style="flex:1;padding-right: 10px;">
    <h2>Songs</h2>
    <ul
      style="display: flex; flex-direction: column; gap:15px;padding:10px;margin:0px;"
    >
      {
        tracks.items.slice(0, 4).map((track) => (
          <li style="display:flex;width: 100%;gap: 10px;">
            <div class="image-container">
              <img
                src={track?.album?.images[0]?.url}
                alt=""
                srcset=""
                width="40"
                height="40"
              />
              <div class="overlay">
                <button
                  class="btn-top-tracks playSong-top-songs"
                  data-track-uri={track.uri}
                  data-track={JSON.stringify({
                    id: track.id,
                    uri: track.uri,
                    name: track.name,
                    album: {
                      id: track.album.id,
                      name: track.album.name,
                      images: track.album.images,
                    },
                    artists: track.artists.map((a) => ({
                      id: a.id,
                      name: a.name,
                    })),
                  })}
                >
                  <img
                    data-state="play"
                    class={`btn-hidden-pause-${track.id}`}
                    src={PlayIcon}
                    alt=""
                    srcset=""
                  />
                </button>
              </div>
            </div>
            <div style="justify-content: space-between;display: flex;flex: 1;">
              <div style="display: flex; flex-direction: column;">
                <span class={`track-song-${track.id}`}>{track?.name}</span>
                <span>{track?.artists?.map((a) => a?.name).join(", ")}</span>
              </div>
              <span>{formatDuration(track?.duration_ms)}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</div>
