---
const { tracks, artists } = Astro.props;
---

<link rel="stylesheet" href="/Home.css" />
<div class="grid8">
  {
    tracks.items?.map((item) => (
      <div class="card">
        <img
          src={item.album.images[2].url}
          loading="lazy"
          decoding="async"
          alt=""
          srcset=""
          width="50"
        />
        <div style="display: flex;flex:1; justify-content: space-between;">
          <span>{item.album.name}</span>
          <button
            class="btn-hidden playSong-Album-Carrousel"
            data-track-album={item.album.uri}
            data-track={JSON.stringify({
              id: item.album.id,
              uri: item.album.uri,
              name: item.album.name,
              album: {
                id: item.album.id,
                name: item.album.name,
                images: item.album.images,
              },
              imgAlbum: item.album.images,
              artists: item.artists.map((a) => ({
                id: a.id,
                name: a.name,
              })),
            })}
          >
            <img
              src="/play.svg"
              alt="play icon"
              loading="lazy"
              decoding="async"
              data-state="play"
              class={`btn-hidden-pause-${item.album.id}`}
            />
          </button>
        </div>
      </div>
    ))
  }
  {
    artists.items?.map((item) => (
      <div class="card">
        <img
          src={item.images[2].url + "w=112"}
          alt=""
          srcset=""
          loading="lazy"
          decoding="async"
          width="50"
        />

        <div style="display: flex;flex:1; justify-content: space-between;">
          <span>{item.name}</span>
          <button
            class="btn-hidden playSong-Artists-Carrousel"
            data-track-album={item.uri}
            data-track={JSON.stringify({
              id: item.id,
              uri: item.uri,
              name: item.name,
            })}
          >
            <img
              src="/play.svg"
              alt="play icon"
              data-state="play"
              class={`btn-hidden-pause-${item.id}`}
              loading="lazy"
              decoding="async"
            />
          </button>
        </div>
      </div>
    ))
  }
</div>
